body {
    margin: 0;
    padding: 0;
}

body,
p,
ul {
    -webkit-font-smoothing: antialiased
}

body {
    /* font-family: -apple-system, sans-serif; */
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fff;
    color: #000;
    font-weight: lighter
}

section#cartaoVisita {
    position: absolute;
    bottom: 66%;
    left: 10%;
    height: 100px;
    margin-bottom: 10px;
}

section {
    display: block;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0
}

#cartaoVisita ul {
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0
}

a:hover,
a:visited,
a:link,
a:active {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #dbdbdb
}

a:hover {
    border-bottom: 1px solid #000
}

p,
ul {
    font-size: 18px;
    font-weight: lighter;
    line-height: 34px
}